:host {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 99%;
  max-width: 550px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  color: #222;
}

:host > div {
  text-align: center;
}

a {
  display: block;
  text-align: center;
  color: #222;
}

.list label {
  display: block;
}

form {
  box-sizing: border-box;
  width: 100%;
  margin: 10px auto;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

button {
  margin: 0 10px;
  white-space: nowrap;
  display: inline-block;
  border-radius: 5px;
  padding: 5px 15px;
  font-size: 16px;
  color: white;
  background-image: linear-gradient(var(--button-light), var(--button-dark));
  border: 1px solid var(--button-dark);
}

button[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

button:hover {
  background-image: linear-gradient(var(--button-light), var(--button-dark));
}

button:hover[disabled] {
  background-image: linear-gradient(var(--button-light), var(--button-dark));
}

button {
  --button-light: var(--default-button-light);
  --button-dark: var(--default-button-dark);
  color: #555;
}

button[type='submit'] {
  --button-light: var(--primary-button-light);
  --button-dark: var(--primary-button-dark);
  color: white;
}

.buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-top: 15px;
}

.display-form {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #ccc;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.field {
  display: flex;
  flex-flow: row nowrap;
  line-height: 2em;
  margin: 5px;
}

.field > label {
  color: #333;
  width: 110px;
  font-size: 1em;
  line-height: 32px;
}

.field input,
.field select,
.field textarea {
  flex: 1;
  padding: 3px 5px;
  font-size: 1em;
  margin-left: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.field input[type='checkbox'] {
  margin-top: 7px;
}
