:host {
  --color__grey: #333;

  --link__background: white;
  --link__color: var(--color__grey);

  --link__background--active: #666;
  --link__color--active: white;

  display: flex;
}

.links {
  width: 30%;
}

.forms {
  flex-grow: 1;
}

.default {
  display: block;
  margin-left: 50px;
  padding: 20px;
  border: 2px solid var(--color__grey);
  height: 40vh;
  text-align: center;
  line-height: 40vh;
}
